// color variables definition
$black: #222;
$primary-extra-light: #736F82;
$primary-light-1: #008FEF;
$primary-light-2: #005C99;
$primary-dark-1: #233673;
$primary-dark-2: #1F3066;
$secondary-light: #FFA000;
$secondary-dark: #FC8A33;

$theme-colors: (
  "black": $black,
  "primary-dark-1": $primary-dark-1,
  "transparent": #fff0,
) !default;

// spacers variable definition
$spacer: 1rem;
$custom-spacers: (
  "awe-12": $spacer * 0.75,
  "awe-32": $spacer * 2,
  "awe-40": $spacer * 2.5,
  "awe-56": $spacer * 3.5,
  "awe-64": $spacer * 4,
  "awe-80": $spacer * 5,
  "awe-96": $spacer * 6,
  "awe-108": $spacer * 8,
) !default;

//Variáveis das fontes
$font-family-sans-serif: "Roboto", sans-serif;
$font-sizes: (
  12: 12px,
  14: 14px,
  18: 18px,
  32: 32px,
  44: 44px,
);

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;